body {
	font-family: 'Inconsolata', 'Helvetica', 'Arial', 'sans-serif' ;
}

div.clear {
	clear:both;
	display:block;
	width:100%;
}

pre,code {
	background-color:#e0e1bb;
}

.site-header {
	background-color:#96975e;
	font-weight:800;
}

.site-nav {
	background-color:#96975e;
}
.site-nav a{
	text-decoration:none;
	padding:5px;
}
a.site-title {
	padding-left:5px;
	padding-right:5px;
}
.site-nav a,a.site-title:hover{
	text-decoration:none;
}
.site-nav a:hover , a.site-title:hover {
	background-color:#000;
	color:#96975e;

}

.post-title, .page-heading {
	color:#c1c28a;
}

.post-related, .post-share {
	display:block;
	border-top:1px solid #e0e1bb;
	padding-top:10px;
}

ul.tag-box {
	display:block;
	list-style-type:none;
	padding:0;
	margin:0;
}

ul.tag-box  li {
    padding: 0px 5px 0px 0px;
    width:100%;
    display:block;
    float:left;
}

ul.tag-box  li span, .entry-date {
	color: silver;
}

a {
	color:#96975e;
}

a:visited {
	color:#96975e;
}

div.links-list {
	width:100%;
}

div.links-list a {
	width:100%;
	display:block;
	height:3em;
	line-height:3em;
	background-color:#96975e;
	color:#000;
	text-align:center;
	margin:5px;
	text-decoration:none;
}
div.links-list a:hover {
	background-color:#000;
	color:#96975e;
}

@media screen and (min-width: 600px) {
  ul.tag-box  li {
    width:45%;
  }
  
  div.links-list a {
  	width:45%;
  	float:left;
  }
}

@media screen and (min-width: 800px) {
  ul.tag-box  li {
    width:22%;
  }
  
  div.links-list a {
  	width:22%;
  	float:left;
  }
}